@*
This file is part of the mvc567 distribution (https://github.com/intellisoft567/mvc567).
Copyright (C) 2019 Georgi Karagogov

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_AdminSharedHead")
</head>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("_Navbar")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("_Sidebar")
            <div class="main-panel">
                <div class="content-wrapper">
                    @await Html.PartialAsync("_Breadcrumbs")
                    @RenderBody()
                </div>
                @await Html.PartialAsync("_Footer")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_AdminSharedScripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
