@model AdminResetPasswordViewModel
@{
    Layout = "_AdminLoginLayout";
    ViewData["Title"] = "Reset Password";
}
<form asp-area="Admin" asp-controller="AdminAccount" asp-action="ResetPassword" method="post">
    <form-text-input asp-for="NewPassword" type="password" label="New Password" placeholder="New Password" />
    <form-text-input asp-for="NewPasswordConfirm" type="password" label="Confirm Password" placeholder="Confirm Password" />
    <input asp-for="UserId" type="hidden" />
    <input asp-for="PasswordResetToken" type="hidden" />
    <div class="form-group">
        <button class="btn btn-primary submit-btn btn-block">Reset</button>
    </div>
</form>
