@*
This file is part of the mvc567 distribution (https://github.com/intellisoft567/mvc567).
Copyright (C) 2019 Georgi Karagogov

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model AdminChangePasswordViewModel

<div class="col-12 col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            @if (TempData["SuccessStatusMessage"] != null)
            {
                <div class="alert alert-success" role="alert"> @TempData["SuccessStatusMessage"] </div>
            }
            <form asp-area="Admin" asp-controller="AdminManage" asp-action="ChangePassword">
                <div class="form-group">
                    <label>Current Password:</label>
                    <input class="form-control" type="password" asp-for="CurrentPassword" />
                    <span class="text-danger text-small" asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-group">
                    <label>New Password:</label>
                    <input class="form-control" type="password" asp-for="NewPassword" />
                    <span class="text-danger text-small" asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label>Confirmed Password:</label>
                    <input class="form-control" type="password" asp-for="ConfirmedPassword" />
                    <span class="text-danger text-small" asp-validation-for="ConfirmedPassword"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger text-small"></div>
                <hr />
                <div class="form-group mb-0">
                    <button type="submit" class="d-flex btn btn-primary mt-2 ml-auto mr-0">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
