@*
This file is part of the mvc567 distribution (https://github.com/codific/mvc567).
Copyright (C) 2019 Codific Ltd.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model ICreateEditEntityDto

@{
    ViewData["Title"] = $"Edit {Model.EntityName}";
}

<div class="col-12 col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@($"Edit {Model.EntityName}")</h4>
            <form asp-area="@Model.Area" asp-controller="@Model.Controller" asp-action="@Model.Action">
                @await Html.PartialAsync(Partials.CreateEditFormItemsPartial, Model.GetModelInputList())
                <hr />
                <div class="form-group mb-0">
                    <button type="submit" class="d-flex btn btn-primary mt-2 ml-auto mr-0">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
